.nav{
    border:1px solid grey;
    height:35px;
}
.nav-item{
    flex-basis:100px;
    text-align:center;
    &:first-child{
        flex-grow:1;
    }

    li{
        flex-basis:120px;
    }
}

ul{
    list-style-type: none;
    display:flex;
    -webkit-padding-start:0;
    margin-bottom:0;
}
a{
    color:grey;
}
a:hover{
    color:white;
    background-color: grey;
}
li:hover{
    color:white;
    background-color: grey;
}

.ml-auto{
    margin-left: auto;
}
.dropdown-item{
    font-size:12px;
}



